<!--Footer-->
<footer class="mdl-mini-footer" id="bottom">
    <% if(theme.scheme === 'Paradox') { %>
        <!-- Paradox Footer Left Section -->
        <%- partial('_partial/footer-left') %>

        <!--Copyright-->
        <div id="copyright">
            <p>Copyright&nbsp;©<% if(theme.copyright_since) { %>&nbsp;<%= theme.copyright_since %>&nbsp;-<% } %><script type="text/javascript">var fd = new Date();document.write("&nbsp;" + fd.getFullYear() + "&nbsp;");</script><%- config.title %></p>
            <div class='visitBlogCount'>
                <p class='visitAmount'>
                    <i class="material-icons">visibility</i>
                    <span>
                        访问量<span id="busuanzi_value_site_pv"></span> 
                    </span>
                </p>
                
                <p class='visitPerson'>
                    <i class="material-icons">person</i>
                    <span>
                        访问用户<span id="busuanzi_value_site_uv"></span>
                    </span>
                </p>
            </div>
        </div>
        <style>
            .visitBlogCount>p{
                display:inline-block;
                height: 30px;
                line-height: 30px;
            }
            .visitBlogCount>p>i{
                position: relative;
                top: 6px;
                left: -5px;
            }
            .visitBlogCount>p>span{
                display: inline-block;
                height: 30px;
                line-height: 30px;
            }
            .visitAmount{
                margin-right: 10px;
            }
        </style>
        <!-- Paradox Footer Right Section -->

        <!--
        I am glad you use this theme, the development is no so easy, I hope you can keep the copyright.
        It will not impact the appearance and can give developers a lot of support :)

        很高兴您使用该主题，开发不易，希望您可以保留一下版权声明。
        它不会影响美观并可以给开发者很大的支持。 :)
        -->

        <!--<div class="mdl-mini-footer--right-section">
            <div>
                <div class="footer-develop-div">Powered by <a href="https://hexo.io" target="_blank" rel="external nofollow" class="footer-develop-a">Hexo</a></div>
                <div class="footer-develop-div">Theme - <a href="https://github.com/viosey/hexo-theme-material" rel="external nofollow" target="_blank" class="footer-develop-a">Material</a></div>
            </div>
        </div>-->
    <% } %>
</footer>
