<style>
    .article-meta {
        display: none;
    }
    #container .article .article-title {
        padding-right: 0;
    }
    .article-header {
        padding: 0;
        padding-top: 26px;
        border-left: none;
        text-align: center;
    }
    .article-header:hover {
        border-left: none;
    }
    .article-title {
        font-size: 1.6em
    }
    .article-meta {
        display: none;
    }
    .article-entry hr {
        margin: 0;
    }
    #container .article-info-post.article-info {
      display: none;
      }
    #container .article .article-title {
    padding: 0;
    }
</style>

<% if (page.path === "tags/index.html"){ %>
    <!-- Tag Cloud Page -->
    <hr>

    <%if(theme.tagcloud){%>
        <section class="switch-part switch-part2" style='padding-top:20px;padding-bottom:20px;width:100%;text-align: center;'>
            <div class="widget tagcloud" id="js-tagcloud" style="display: flex;flex: 1;justify-content: center;align-items: center;flex-wrap: wrap;">
                <%- tagcloud() %>
            
            </div>
        </section>
    <%}%>

<% } %>
<% if (page.path === "timeline/index.html"){ %>
    <!-- Tag Cloud Page -->
    <hr>

    <%- partial('page-timeline') %>

<% } %>
<% if (page.path === "links/index.html"){ %>
    <!-- Tag Cloud Page -->
    <hr>
    <%- partial('page-links') %>
    

<% } %>
<% if (page.path === "comments/index.html"){ %>
    <!-- Tag Cloud Page -->
    <hr>
    <%- partial('page-comments') %>
    

<% } %>