// Highlight.js custom theme
// Follow guidelines
// 1. Uncomment the block just below - remove `/*` and `*/`
// 2. Fill `background`, `color`, `border-right-color` properties
// with properties of `.hljs` CSS class of your theme
// 3. Put your theme where it's indicated just below
// 4. Remove `.hljs {...}` rules
// 5. Remove `hljs-` of all CSS class name. E.g : `.hljs-comment` becomes `.comment`
// 6. Comment line 61 (`'themes/tranquilpeak',`) of `source/_css/tranquilpeak.scss` file
// 7. Run `grunt buildProd` to build the theme and see the result

// Default code block
pre > code {
    background: #282c34;
    color: #abb2bf;
}

// Default inline code
code {
    background-color: #ffc;
    color: mediumvioletred;
}

// Tabbed code block tab
// If your theme is dark then use a lighter background
// to see clearly which tab is active
.codeblock--tabbed figcaption .tab.active {
    background: #282c34;
    color: #abb2bf;
}

// highlight code block
figure.highlight,
.codeblock {
    background: #282c34;
    color: #abb2bf;

    figcaption {
        background: #282c34;
        color: #abb2bf;
    }
    .gutter {
        background: #282c34;
        border-right-color: #282c34;
        .line {
            color: #abb2bf;
        }
    }
    // PUT YOUR THEME HERE
    .hljs {
        display: block;
        overflow-x: auto;
        padding: 0.5em;
        color: #abb2bf;
        background: #282c34;
    }

    .comment,
    .quote {
        color: #5c6370;
        font-style: italic;
    }

    .doctag,
    .keyword,
    .formula {
        color: #c678dd;
    }

    .section,
    .name,
    .selector-tag,
    .deletion,
    .subst {
        color: #e06c75;
    }

    .literal {
        color: #56b6c2;
    }

    .string,
    .regexp,
    .addition,
    .attribute,
    .meta-string {
        color: #98c379;
    }

    .built_in,
    .class .title {
        color: #e6c07b;
    }

    .attr,
    .variable,
    .template-variable,
    .type,
    .selector-class,
    .selector-attr,
    .selector-pseudo,
    .number {
        color: #d19a66;
    }

    .symbol,
    .bullet,
    .link,
    .meta,
    .selector-id,
    .title {
        color: #61aeee;
    }

    .emphasis {
        font-style: italic;
    }

    .strong {
        font-weight: bold;
    }

    .link {
        text-decoration: underline;
    }
}
